html, body {
  margin: 0px;

  /* Style 1 */
  /* --background-color: #FAF1E4;
  --text-color: #CEDEBD;
  --link-color: #a5d373;
  --accent-color: #435334;
  --shadow-color: #9EB384; */

  /* Style 2 */
  /* --background-color: #241468;
  --accent-color: #9F0D7F;
  --link-color: #a52589;
  --shadow-color: #F79BD3;
  --text-color: #EA1179; */

  /* Style 3 */
  /* --background-color: #F1F6F9;
  --text-color: #394867;
  --link-color: #495670;
  --accent-color: #212A3E;
  --shadow-color: #9BA4B5; */

  /* Style 4 */
  /* --background-color: #F6F1E9;
  --text-color: #FFD93D;
  --link-color: #92a554;
  --accent-color: #4F200D;
  --shadow-color: #FF8400; */

  /* Style 5 */
  --background-color: #FFF4E0;
  --text-color: #FFBF9B;
  --link-color: #92a554;
  --accent-color: #4D4D4D;
  --shadow-color: #B46060;

  /* Style 6 */
  /* --background-color: #F9F5EB;
  --text-color: #E4DCCF;
  --link-color: #92a554;
  --accent-color: #EA5455;
  --shadow-color: #002B5B;
  --title-color: #002ab6; */

  /* Style 7 */
  /* --background-color: #F2CD5C;
  --text-color: #F2921D;
  --link-color: #92a554;
  --accent-color: #400E32;
  --shadow-color: #A61F69; */

  /* Style 8 */
  /* --background-color: #FAF3E3;
  --text-color: #FAF3E3;
  --link-color: #FF9F29;
  --accent-color: #0f2b1a;
  --shadow-color: #235f3b; */

  /* Style 9 */
  /* --background-color: #F6F6F6;
  --text-color: #C2FAF1;
  --link-color: #F6F6F6;
  --accent-color: #295E6A;
  --shadow-color: #DFEFF0;
  --title-color: #002ab6; */
}